ReportsSchema/Service References/ReportsService/Reports1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://advtotes.co.uk/FormNetTM/Reports.asmx" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Reports" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://advtotes.co.uk/FormNetTM/Reports.asmx" location="http://192.168.0.83:8086/Reports.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_Reports.asmx" type="i0:Reports.asmx">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ClearNGRC">
      <soap:operation soapAction="http://advtotes.co.uk/FormNetTM/Reports.asmx/ClearNGRC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAdvanceProgramme">
      <soap:operation soapAction="http://advtotes.co.uk/FormNetTM/Reports.asmx/GetAdvanceProgramme" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdvancedProgramme">
      <soap:operation soapAction="http://advtotes.co.uk/FormNetTM/Reports.asmx/AdvancedProgramme" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetArchivedGreyhounds">
      <soap:operation soapAction="http://advtotes.co.uk/FormNetTM/Reports.asmx/GetArchivedGreyhounds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFormLines">
      <soap:operation soapAction="http://advtotes.co.uk/FormNetTM/Reports.asmx/GetFormLines" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FormLines">
      <soap:operation soapAction="http://advtotes.co.uk/FormNetTM/Reports.asmx/FormLines" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMailListEntries">
      <soap:operation soapAction="http://advtotes.co.uk/FormNetTM/Reports.asmx/GetMailListEntries" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMailLists">
      <soap:operation soapAction="http://advtotes.co.uk/FormNetTM/Reports.asmx/GetMailLists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMeetingReserves">
      <soap:operation soapAction="http://advtotes.co.uk/FormNetTM/Reports.asmx/GetMeetingReserves" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMeetingsSchedule">
      <soap:operation soapAction="http://advtotes.co.uk/FormNetTM/Reports.asmx/GetMeetingsSchedule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNGRC">
      <soap:operation soapAction="http://advtotes.co.uk/FormNetTM/Reports.asmx/GetNGRC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNGRCRecipients">
      <soap:operation soapAction="http://advtotes.co.uk/FormNetTM/Reports.asmx/GetNGRCRecipients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNGRCStatic">
      <soap:operation soapAction="http://advtotes.co.uk/FormNetTM/Reports.asmx/GetNGRCStatic" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPARecipients">
      <soap:operation soapAction="http://advtotes.co.uk/FormNetTM/Reports.asmx/GetPARecipients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRaceCard">
      <soap:operation soapAction="http://advtotes.co.uk/FormNetTM/Reports.asmx/GetRaceCard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RaceCard">
      <soap:operation soapAction="http://advtotes.co.uk/FormNetTM/Reports.asmx/RaceCard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRaceResults">
      <soap:operation soapAction="http://advtotes.co.uk/FormNetTM/Reports.asmx/GetRaceResults" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RaceResults">
      <soap:operation soapAction="http://advtotes.co.uk/FormNetTM/Reports.asmx/RaceResults" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRunnersRacingWeights">
      <soap:operation soapAction="http://advtotes.co.uk/FormNetTM/Reports.asmx/GetRunnersRacingWeights" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSheetData">
      <soap:operation soapAction="http://advtotes.co.uk/FormNetTM/Reports.asmx/GetSheetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTrialData">
      <soap:operation soapAction="http://advtotes.co.uk/FormNetTM/Reports.asmx/GetTrialData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GradingReport">
      <soap:operation soapAction="http://advtotes.co.uk/FormNetTM/Reports.asmx/GradingReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InoculationReport">
      <soap:operation soapAction="http://advtotes.co.uk/FormNetTM/Reports.asmx/InoculationReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsLoggedOn">
      <soap:operation soapAction="http://advtotes.co.uk/FormNetTM/Reports.asmx/IsLoggedOn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logon">
      <soap:operation soapAction="http://advtotes.co.uk/FormNetTM/Reports.asmx/Logon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveNGRC">
      <soap:operation soapAction="http://advtotes.co.uk/FormNetTM/Reports.asmx/SaveNGRC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveNGRCStatic">
      <soap:operation soapAction="http://advtotes.co.uk/FormNetTM/Reports.asmx/SaveNGRCStatic" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Reports">
    <wsdl:port name="BasicHttpBinding_Reports.asmx" binding="tns:BasicHttpBinding_Reports.asmx">
      <soap:address location="http://192.168.0.83:8086/Reports.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>