ReportsSchema/Service References/ReportsService/Reports2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="RaceCardData" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="RaceCardData" Namespace="http://schemas.datacontract.org/2004/07/AdvancedSystems.Wcf.Meeting.StronglyTypedDataSets" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any namespace="http://tempuri.org/RaceCardData.xsd" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ArchivedData" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="ArchivedData" Namespace="http://schemas.datacontract.org/2004/07/AdvancedSystems.Wcf.Meeting.StronglyTypedDataSets" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any namespace="http://tempuri.org/ArchivedData.xsd" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FormLineData" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="FormLineData" Namespace="http://schemas.datacontract.org/2004/07/AdvancedSystems.Wcf.Meeting.StronglyTypedDataSets" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any namespace="http://tempuri.org/FormLineData.xsd" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataSet" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:element ref="xs:schema" />
        <xs:any />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReserveData" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="ReserveData" Namespace="http://schemas.datacontract.org/2004/07/AdvancedSystems.Wcf.Meeting.StronglyTypedDataSets" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any namespace="http://tempuri.org/ReserveData.xsd" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ScheduleData" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="ScheduleData" Namespace="http://schemas.datacontract.org/2004/07/AdvancedSystems.Wcf.Meeting.StronglyTypedDataSets" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any namespace="http://tempuri.org/ScheduleData.xsd" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NGRCData" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="NGRCData" Namespace="http://schemas.datacontract.org/2004/07/AdvancedSystems.Wcf.Meeting.StronglyTypedDataSets" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any namespace="http://tempuri.org/NGRCData.xsd" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResultData" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="ResultData" Namespace="http://schemas.datacontract.org/2004/07/AdvancedSystems.Wcf.Meeting.StronglyTypedDataSets" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any namespace="http://tempuri.org/ResultData.xsd" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RunnerData" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="RunnerData" Namespace="http://schemas.datacontract.org/2004/07/AdvancedSystems.Wcf.Meeting.StronglyTypedDataSets" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any namespace="http://tempuri.org/RunnerData.xsd" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KennelPaddockData" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="KennelPaddockData" Namespace="http://schemas.datacontract.org/2004/07/AdvancedSystems.Wcf.Meeting.StronglyTypedDataSets" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any namespace="http://tempuri.org/KennelPaddockData.xsd" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrialData" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="TrialData" Namespace="http://schemas.datacontract.org/2004/07/AdvancedSystems.Wcf.Meeting.StronglyTypedDataSets" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any namespace="http://tempuri.org/TrialData.xsd" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InoculationData" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="InoculationData" Namespace="http://schemas.datacontract.org/2004/07/AdvancedSystems.Wcf.Meeting.StronglyTypedDataSets" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any namespace="http://tempuri.org/InoculationData.xsd" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>